@font-face {
  font-family: "Clash Display";
  src: url(/assets/fonts/ClashDisplay-Variable.woff2) format("woff2"),
    url(/assets/fonts/ClashDisplay-Variable.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3a3a3a;
  font-family: "Clash Display", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fffef8;
}

h1 {
  color: #486e00;
  font-size: 35px;
}

.main {
  width: 90%;
  margin: auto;
}
.productDetails {
  display: flex;
  gap: 2em;
  margin-top: 1.5em;
}
.leftImages {
  width: 50%;
}
.rightDetails {
  width: 50%;
}
.imgWrper {
  width: 100%;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.imgWrper > div {
  background-color: #fffef8;
}
.imgWrper img {
  border-radius: 7px;
  width: 100%;
  object-fit: cover;
}
.topImg {
  width: 100%;
  height: max-content;
}
.topImg > img {
  height: 75vh;
}
.bottomImgs {
  display: flex;
  height: max-content;
  gap: 0.3em;
}
.bottomImgs-left {
  width: 50%;
}
.bottomImgs-right {
  width: 50%;
}
.titleStock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stock > p {
  color: #486e00;
  font-weight: 500;
  font-size: 18px;
}
.description > p {
  margin-top: 1.5rem;
  color: #3a3a3a;
  font-weight: 400;
}
.buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1em;
  align-items: center;
}
.addToCart {
  width: 50%;
}
.addToCart > button {
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  background-color: #486e00;
  border-style: none;
  padding: 12px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  border-radius: 7px;
}
.care {
  margin-top: 2rem;
}
.care-text p {
  color: #486e00;
  font-size: large;
  font-weight: 600;
  border-bottom: 2px solid #486e00;
  width: fit-content;
  padding-bottom: 0.2em;
}
.careTips {
  margin-top: 1em;
}
.tipsImages {
  width: 100%;
  display: flex;
}
.tipsImages div {
  width: 25%;
  text-align: center;
}
.tipsImages img {
  width: 80%;
  object-fit: cover;
}
.tipsImages h3 {
  font-size: 16px;
  font-weight: 500;
}
